.results {
  display: none;
  margin-top: 15px;
}

.card {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  margin-left: auto;
}

.form-control {
  margin-top: 6px;
}

h1 {
  font-size: 70px;
  font-family: 'Manjari', sans-serif;
  margin-top: 25px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

/* form {
  direction: rtl;
}
input {
  display: block;
  direction: ltr;
} */

.noResult {
  display: none;
}

/* body {
  text-align: center;
} */

.card-text {
  padding-left: 15px;
}

h3 {
  padding-top: 15px;
}

small {
  padding-bottom: 30px;
}
